# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

.vs/
vcpkg_installed/
*.htm
*.oni
*.tmp
bin/
*.caffemodel
*.prototxt
dlls/
packages/
FESDData/nuitrack/
FESDModel/rnn_torchviz.png
FESDModel/checkpoints/
FESDModel/runs/
*.onnx
Dependencies/GLEW/lib/Release/x64/glew32.lib
Dependencies/GLEW/lib/Release/x64/glew32s.lib
third-party/OpenGL/Dependencies/GLEW/lib/Release/x64/glew32.lib
third-party/OpenGL/Dependencies/GLEW/lib/Release/x64/glew32s.lib
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew.res
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.log
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew32.dll.recipe
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/vc143.pdb
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/vcpkg.applocal.log
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.tlog/CL.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.tlog/CL.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.tlog/CL.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.tlog/glew_shared.lastbuildstate
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.tlog/link.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.tlog/link.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.tlog/link.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.tlog/link.write.2u.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.tlog/rc.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.tlog/rc.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_shared/Release/x64/glew_shared.tlog/rc.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew.res
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew_static.log
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew32s.lib.recipe
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/vcpkg.applocal.log
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew_static.tlog/CL.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew_static.tlog/CL.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew_static.tlog/CL.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew_static.tlog/glew_static.lastbuildstate
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew_static.tlog/Lib.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew_static.tlog/Lib-link-cvtres.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew_static.tlog/Lib-link-cvtres.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew_static.tlog/rc.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew_static.tlog/rc.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glew_static/Release/x64/glew_static.tlog/rc.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.exe.recipe
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.log
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.res
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/vc143.pdb
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/vcpkg.applocal.log
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.tlog/CL.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.tlog/CL.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.tlog/CL.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.tlog/glewinfo.lastbuildstate
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.tlog/link.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.tlog/link.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.tlog/link.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.tlog/rc.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.tlog/rc.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/glewinfo/Release/x64/glewinfo.tlog/rc.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/vc143.pdb
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/vcpkg.applocal.log
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.exe.recipe
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.log
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.res
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.tlog/CL.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.tlog/CL.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.tlog/CL.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.tlog/link.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.tlog/link.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.tlog/link.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.tlog/rc.command.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.tlog/rc.read.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.tlog/rc.write.1.tlog
third-party/OpenGL/GLCore/vendor/glew/build/vc12/tmp/visualinfo/Release/x64/visualinfo.tlog/visualinfo.lastbuildstate
third-party/OpenGL/GLCore/vendor/glew/lib/Release/x64/glew32.exp
third-party/OpenGL/GLCore/vendor/glew/lib/Release/x64/glew32.lib
third-party/OpenGL/GLCore/vendor/glew/lib/Release/x64/glew32s.lib
third-party/OpenGL/GLCore/vendor/glew/lib/Release/x64/glew32s.pdb
